<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <add key="dependencyVersion" value="Lowest" />
    </config>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="develop" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/develop/nuget/v3/index.json" />
        <add key="release" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/release/nuget/v3/index.json" />
        <add key="AzurePipelines" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/nuget/v3/index.json" />
    </packageSources>
</configuration>
